.product-section {
  border: 2px !important;
  border-color: black;
  margin-bottom: 2rem;
}
.tab-content {
  margin-block: 2rem !important;
}
.tab-content > .active {
  display: flex !important;
}

.home-categories > .nav-tabs {
  justify-content: space-evenly;
  border: 0;
}
.home-categories .nav-link {
  color: black;
  transition: none;
}
.home-categories .nav-link:hover {
  color: black;
  border: 2px solid navy !important;
  border-radius: 20px;
}
.home-categories > .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 2px solid navy !important;
  border-radius: 20px;
  color: white !important;
  background-color: navy !important;
}
.product-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
