.slider-main {
  margin-block-end: 2vmax;
}
.slick-prev {
  left: 0px !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-size: 2vmax !important;
  color: grey !important;
}
.slick-next {
  right: 0.7vmax !important;
}

.image-container {
  max-height: 26vmax;
  max-width: 100%;
}
.image-container > img {
  max-width: 100%;
  max-height: 100%;
}
.product-container {
  display: flex;
}
.product-section {
  border: 2px !important;
  border-color: black;
  margin-bottom: 2rem;
}
.tab-content {
  margin-block: 2rem !important;
}
.tab-content > .active {
  display: flex !important;
}

.home-categories > .nav-tabs {
  justify-content: space-evenly;
  border: 0;
}
.home-categories .nav-link {
  color: black;
  transition: none;
}
.home-categories .nav-link:hover {
  color: black;
  border: 2px solid #25619c !important;
  border-radius: 20px;
}
.home-categories > .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 2px solid #25619c !important;
  border-radius: 20px;
  color: white !important;
  background-color: #25619c !important;
}
.product-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 3vmax !important;
  }
  .slick-next {
    right: 4px !important;
  }
}
