body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.btn-search {
  background-color: aqua;
  border-color: aqua;
}
.carousel img {
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 300px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 80%;
}
.product {
  max-height: 100px;
  width: 100%;
}
