.update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.update-form {
  box-shadow: 0 0 5px gray;
  padding: 2vmax;
  margin: 2vmax;
}
.update-form > h3 {
  color: grey;
  text-align: center;
  border-bottom: 1px solid grey;
  margin-inline: 6vmax;
  padding: 1vmax;
}
.update-container input {
  height: 3vmax;
  width: 20vmax;
  padding-inline: 2.5vmax;
  position: relative;
  cursor: text;
}
.update-container svg {
  position: relative;
  left: 26px;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form > div {
  padding: 1vmax;
  margin: auto;
}



.btn-reset {
  margin-block-start: 1vmax;
  background-color: #25619c;
  border: 0px;
  color: white;
  margin-inline: auto;
}
@media screen and (max-width: 1000px) {
  .update-form input {
    height: 8vh;
    padding: 0vmax 5vmax;
    margin: 0;
    width: 90%;
    align-items: center;
  }

  form > div {
    margin: 0;
    padding-inline-start: 1vmax;
  }


  .btn-reset {
    width: 100% !important;
  }
}
