.update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.update-form {
  box-shadow: 0 0 5px gray;
  padding: 2vmax;
  margin: 2vmax;
}
.update-form > h3 {
  color: grey;
  text-align: center;
  border-bottom: 1px solid grey;
  margin-inline: 6vmax;
  padding: 1vmax;
}
.update-container input {
  height: 3vmax;
  width: 20vmax;
  padding-inline: 2.5vmax;
  position: relative;
  cursor: text;
}
.update-container svg {
  position: relative;
  left: 26px;
  z-index: 1;
}

.update-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.update-container form > div {
  padding: 1vmax;
  margin: auto;
}
.upload-avatar {
  display: flex;
  justify-content: center;
  align-items: end;
}
.upload-avatar > img {
  position: relative;
  max-width: 4vmax;

  border-radius: 626px;
  left: 4vmax;
}
.upload-avatar > input {
  left: 4vmax;
}
.upload-avatar > input::file-selector-button {
  height: 7vh;
  border: none;
  margin: 0;
  padding: 0 1vmax;
  color: black;
  background-color: #ffb15e;
  border-radius: 6px;
}
.btn-update {
  margin-block-start: 1vmax;
  background-color: #25619c;
  border: 0px;
  color: white;
  margin-inline: auto;
}
@media screen and (max-width: 1000px) {
  .update-form input {
    height: 8vh;
    padding: 0vmax 5vmax;
    margin: 0;
    width: 90%;
    align-items: center;
  }

  form > div {
    margin: 0;
    padding-inline-start: 1vmax;
  }
  .upload-avatar img {
    position: relative;
    max-width: 8vmax;
    left: 6vmax;
  }
  .upload-avatar {
    align-items: center;
  }
  .upload-avatar input {
    height: 10vh;
  }
  .btn-update {
    width: 100% !important;
  }
}
