* {
  box-sizing: border-box;
}
nav a {
  color: #000 !important;
}

nav {
  display: flex;
  width: 100%;
  background: rgb(214, 214, 214);
  justify-content: space-between;
  text-align: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav .icon {
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}
nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}
nav ol li {
  margin: 0 2px;
}
nav ol li a {
  font-size: 1vmax;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 10px;
  background-color: #25619c;
  border-radius: 6px;
  padding: 0.5vmax;
  color: #fff !important;
}

nav .search-box {
  display: flex;
  margin: 0;
  height: 45px;
  line-height: 35px;
}
nav .search-box input {
  border: none;
  outline: none;
  background: #fff;
  padding: 0px 10px;

  width: 60vmax;
  border-radius: 6px;
}
nav .search-box span {
  color: rgba(0, 0, 0);
  /* font-size: 20px; */
  background: #ffb15e;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-inline: 0.75vmax;
  border-radius: 8px;
}
nav .search-box span:hover {
  color: #fff;
}
nav .search-box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background: rgb(37, 97, 156);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;

  border-radius: 8px;
}
nav .search-box span:hover::after {
  width: 100%;
}
nav .bar {
  position: relative;
  margin: auto;
  display: none;
}
nav .bar span {
  position: absolute;
  color: rgb(31, 91, 242);
  font-size: 35px;
}

.speed-dial {
  position: fixed;
  top: 0.2vmax;
  right: 3vmax;
}
.speed-dail-icon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
@media screen and (max-width: 1250px) {
  nav {
    display: block;
    padding: 0;
  }
  nav .icon {
    display: inline-block;
    padding: 15px 30px;
  }
  nav .search-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  nav .search-box input {
    width: 80%;
  }
  nav ol {
    position: absolute;
    height: 0;
    top: 2vmax;
    right: 10px;
    transition: 0.3s;
  }
  nav ol li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 1;
  }
  nav ol li a {
    color: #000;
    font-size: 1.7vmax;
    padding: 0.5vmax 1vmax;
    display: block;
  }

  nav .bar {
    display: block;
    position: absolute;
    top: 3px;
    left: 20px;
    cursor: pointer;
  }
}
